* {
  font-family: “Lucida Grande” , “Lucida Sans Unicode” , sans-serif;
  font-size: 40px;
  font-variant: small-caps;
}

body {
  background-image: url('./images/background.png');
  color: white;
  text-align: center;
}

.header {
  display: grid;
  margin-bottom: 3rem;
  padding: 1rem;
}

.header-title {
  font-size: 2rem;
  text-align: left;
}

.header-title, .ellipse {
  grid-column: 2;
  grid-row: 1;
}

.ellipse {
  border: solid 3px rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  margin-left: 20px;
  transform: matrix(-1.5, 1, 0.7, 0.5, 150, 0);
  width: 4.5rem;
}

.section-title {
  font-size: 1.5rem;
}

.planets-list {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.planet-img {
  width: 2rem;
}

.mercurio {
  width: 0.6rem;
}

.venus {
  width: 1.9rem;
}

.marte {
  width: 1rem;
}

.jupiter {
  width: 9rem;
}

.saturno {
  width: 7rem;
}

.urano {
  width: 2.7rem;
}

.netuno {
  width: 2.5rem;
}

.planet-name {
  align-self: flex-end;
}
